@font-face {
    font-family: 'mkocr';
    src: url('../fonts/mkocr/mkocr.ttf') format('truetype'),
    url('../fonts/mkocr/mkocr.woff') format('woff'),
    url('../fonts/mkocr/mkocr.woff2') format('woff2');
}

@font-face {
    font-family: 'data-control';
    src: url('../fonts/data-control/data-latin.ttf') format('truetype');
}

.clock {
    background-color: black;
    color: #21fc0d;
    font-family: 'MKOCR', 'data-control';
}

#clock_container {
    border: 1.5vw solid black;
    border-radius: 15px;
}

#clock_metal {
    border: 1vw ridge #c0c0c0;
    border-radius: inherit;
}

#clock_front {
    border : 1vw solid black;
    /* border-width: 1vw 1vw 1vw 4vw;
    border-style: solid;
    border-color: black; */
    border-radius: inherit;
    margin-top: 0;
    margin-bottom: 0;
}
#am_pm {
    font-size: 5vw;
}
#current_time {
    background-color: #383838;
    width: 45%;
    text-align: center;
    font-size: 11vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1vw;
}